{% extends "base.html" %}
{% from "form.html" import render_field %}
{% block head %}Entrar{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="col-md-12">
		<h1 class="text-center">Monitor ({{ leaf.monitor.nome }}) - {{ leaf.nome }}</h1>
		<h3 class="text-center">Regras</h3>
		<hr>
		<div class="col-md-2">
			<ul>
				<li><a href="/monitor/cadastrar_regra/{{ leaf.monitor.id_monitor }}">Cadastrar regra</a></li>
				<li><a href="/dashboard/leaf/{{ leaf.id_component }}">Voltar</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>#</th>
						<th>Dispositivo Condição</th>
						<th>Condição</th>
						<th>Dispositivo Atuador</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					{% for regra in leaf.monitor.regras %}
						<tr>
							<td>{{ regra.id_regra }}</td>
							<td>{{ regra.condicao.dispositivo.nome }}</td>
							<td>{{ regra.condicao }}</td>
							<td>{{ regra.atuador.dispositivo.nome }}</td>
							<td>{{ regra.atuador.valor }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
</div>

{% endblock %}				