{% extends "base.html" %}

{% block head %}Entrar{% endblock %}

{% block content %}

<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<form class="form-horizontal" action="" method="post" name="criarDispositivo">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Embarcado - Cadastro</legend>

				<div class="form-group">
					<label for="inputNome" class="control-label">IP:</label>
					{{ form.ip(class='form-control', placeholder=form.ip.ip) }}
				</div>

				<div class="form-group">
					<label for="inputPorta" class="control-label">Porta:</label>
					{{ form.mac(class='form-control', placeholder=form.mac.name) }}
				</div>

				<div class="form-group">
					<div class="pull-right">
						<button type="submit" class="btn btn-success">Cadastrar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}				