{% extends "base.html" %}
{% from "form.html" import render_field %}
{% block head %}Home Control{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadastrar Propriedade
                </div>
                <div class="panel-body">
					{{ render_field(form.nome) }}
                    <div class="form-group">
                        <div class="col-lg-10 pull-right">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}				