{% extends "base.html" %}

{% block head %}Home Control{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-12">
		<h1 class="text-center">{{ leaf.nome }}</h1>
		<hr>
		<div class="col-md-2">
			<ul>
				<li><a href="/dispositivo/cadastrar/{{ leaf.id_component }}">Cadastrar Dispositivo</a></li>
				<li><a href="/dispositivo/embarcado/{{ leaf.id_component }}">Embarcado</a></li>
				<li><a href="/monitor/{{ leaf.id_component }}">Monitor</a></li>
				<li><a href="/dashboard/modulo/{{ pai.id_component }}">Voltar</a></li>
			</ul>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
			  			<th>#</th>
						<th>Nome</th>
						<th>Porta</th>
			  			<th>Valor</th>
			  			<th>Tipo</th>
					</tr>
		  		</thead>
				<tbody>
					{% for dispositivo in dispositivos %}
					<tr>
						<td>{{ dispositivo.id_dispositivo }}</td>
						<td>{{ dispositivo.nome }}</td>
						<td>{{ dispositivo.porta }}</td>
						<td>{{ dispositivo.valor }}</td>
						<td>{{ dispositivo.tipo }}</td>
						{% if dispositivo.tipo == 'interruptor' %}
						<td><a href='/dispositivo/atualizar/{{ dispositivo.id_dispositivo }}'>Atualizar</a></td>
						<td><a href='/dispositivo/alterar/{{ dispositivo.id_dispositivo }}'>Alterar</a></td>
						{% elif dispositivo.tipo == 'potenciometro' %}
						<td><a href='/dispositivo/atualizar/{{ dispositivo.id_dispositivo }}'>Atualizar</a></td>
						<td><a href='/dispositivo/alterar/{{ dispositivo.id_dispositivo }}'>Alterar</a></td>
						{% elif dispositivo.tipo == 'sensor' %}
						<td colspan="2"><a href='/dispositivo/atualizar/{{ dispositivo.id_dispositivo }}'>Atualizar</a></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}