{% extends "base.html" %}

{% block head %}Index{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-12">
		<h1 class="text-center">{{ modulo.nome }}</h1>
		<hr>
		<div class="col-md-2">
			<ul>
				<li><a href="/dashboard/component/cadastrar/{{ modulo.id_component }}">Cadastrar Component</a></li>
				{% if modulo.tipo == 'modulo_privado' %}
				<li><a href="/usuario/adicionar/{{ modulo.id_component }}">Adicionar Usuário</a></li>
				{% endif %}
				<li><a href="/dashboard/modulo/{{ pai.id_component }}">Voltar</a></li>
			</ul>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody>
					{% for component in components %}
					<tr>
						<td>{{ component.id_component }}</td>
						<td>{{ component.nome }}</td>
						<td>{{ component.tipo }}</td>
						{% if component.tipo == 'leaf' %}
						<td><a href='/dashboard/leaf/{{ component.id_component }}'>Abrir leaf</a></td>
						{%else%}
						<td><a href='/dashboard/modulo/{{ component.id_component }}'>Abrir modulo</a></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}				